.imageButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 480px;
}
.buttonImage {
  display: block;
  width: auto;
  height: auto;
}
.buttonContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 44px;
}

.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.logo {
  margin: auto;
  width: 171px;
  height: 64px;
  margin-top: 88px;
  margin-bottom: 83px;
}
.txt {
  margin: auto;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: #656565;
  text-decoration: none;
}

.linecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ebebeb;
}

.text {
  margin: 0 8px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #858789;
}

.appleButton {
  margin-bottom: 32px;
}
