.box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.logoBox {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoBox .logo {
  margin-top: -8rem;
  margin-bottom: 4rem;
}
.textBox {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.textBox p {
  margin-bottom: 8rem;
}
.title {
  text-align: center;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 140%;
text-align: center;
letter-spacing: -0.011em;
color: #030303;
}
.text {
  color: #656565;
  font-size: var(--fz20);
}
