:root {
  --fz12: 1.2rem;
  --fz14: 1.4rem;
  --fz16: 1.6rem;
  --fz18: 1.8rem;
  --fz20: 2rem;
  --fz22: 2.2rem;
  --fz24: 2.4rem;
  --fz26: 2.6rem;
  --fz28: 2.8rem;
  --fz30: 3rem;
  --fz32: 3.2rem;
  --fz34: 3.4rem;
  --fz36: 3.6rem;
  --fz38: 3.8rem;
  --fz40: 4rem;
  --fz48: 4.8rem;
  --fz80: 8rem;
  --pointColor: #ef4444;
}
@media screen and (max-width: 640px) {
  :root {
    --fz12: min(2.4vw, 1.2rem);
    --fz14: min(3vw, 1.4rem);
    --fz16: min(3.3vw, 1.6rem);
    --fz18: min(3.6vw, 1.8rem);
    --fz20: min(3.8vw, 2rem);
    --fz22: min(4vw, 2.2rem);
    --fz24: min(4.2vw, 2.4rem);
    --fz26: min(4.42vw, 2.6rem);
    --fz28: min(4.67vw, 2.8rem);
    --fz30: min(4.8vw, 3rem);
    --fz32: min(5vw, 3.2rem);
    --fz34: min(5.2vw, 3.4rem);
    --fz36: min(5.777vw, 3.6rem);
    --fz40: min(6vw, 4rem);
    --fz48: min(7.2vw, 4.8rem);
  }
}
