.container {
  background-color: #f4f4f4;
  min-height: calc(100vh - 131px);
  padding: 20px 12px 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
 
}
.homeSec {
  padding: 6.5rem 0 0;
}

.header1 {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 480px;
  height: 63px;
  box-sizing: border-box;
  background-color: white;
}

.txt {
  width: 36px;
  height: 18px;
  font-size: 11px;
  background-color: var(--pointColor);
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 2px;
}

.subtxt {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: #111111;
}

.subleft {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 8px;
}

.subright {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  position: relative;
}

.subtit {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  color: #444444;
}

.review {
  background-color: white;
  width: 100%;
  height: 84px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.write {
  width: 46px;
  height: 46px;
  background: rgba(124, 129, 135, 0.1);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.write.clicked {
  background-color: var(--pointColor);
}

.dotsButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4px;
  height: 16px;
  cursor: pointer;
  position: relative;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #bababa;
  border-radius: 50%;
}

.revright {
  display: flex;
  align-items: center;
  gap: 20px;
}
.alert {
  transform: translateY(-3px);
  position: relative;
  cursor: pointer;
}
.alertWrapper {
  position: relative;
  display: inline-block;
  height: 14px;
}

.alertText {
  position: absolute;
  top: 20px;
  left: -45px;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 3px;
  padding: 4px 5px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-style: normal;
  font-weight: 510;
  font-size: 8px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.alertText::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 115px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}

.alertText::after {
  content: '';
  position: absolute;
  top: -5px; 
  left: 115px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333;
}
.deleteContainer {
  display: none;
  position: absolute;
  top: 32px;
  left: -125px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  padding: 20px 16px;
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.deleteButton {
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: #444444;
  padding: 0;
}

.showDeleteContainer {
  display: flex;
  align-items: center;
}

.store {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: rgba(3, 3, 3, 0.6);
}

.dessert {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.078px;
  color: #333333;
  margin-top: 4px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(89, 95, 103, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  padding: 0 60px;
  box-sizing: border-box;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 360px;
  background: #f2f2f2;
  border-radius: 10px;
  text-align: center;

  box-sizing: border-box;
}

.check {
  font-size: 13px;
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
}

.modalButton {
  cursor: pointer;
  border: none;
}

.cancelButton,
.confirmButton {
  width: 100%;
  background-color: inherit;
  color: #007aff;
  padding: 11px 16px;
  box-sizing: border-box;
  gap: 10px;
  border-top: 0.5px solid rgba(60, 60, 67, 0.36);
  border-right: 0.5px solid rgba(60, 60, 67, 0.36);
  font-size: 17px;
}

.cancelButton:hover,
.confirmButton:hover {
  color: var(--pointColor);
}

.upload {
  position: fixed;
  bottom: 82px;
  width: 100%;
  max-width: 454px;
  padding: 18px 16px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.38px;
  color: #ffffff;
  background-color: var(--pointColor);
  border-radius: 13px;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 16px); 

}

.active {
  background-color: var(--pointColor);
}
