.tasteList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tasteList li {
  width: calc(100% / 4 - 1rem);
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.btn.selected {
  border-color: var(--pointColor);
  color: var(--pointColor);
}
