.genderList {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.btn.selected {
  border-color: red;
  color: red;
}
